/*
    Google work sans font associated with CSS
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Work+Sans&display=swap");

/*
    Common all styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
  scroll-behavior: smooth;
}

.container {
  max-width: 1250px;
  width: 100%;
}

.golden-btn {
  width: 135px;
  height: 45px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  color: #ffffff;
}

/* 
    HEADER SECTION AND NAVIGATION
 */

header {
  /* background: rgba(255, 144, 14, 0.1); */
  background: white;
  /* box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.06); */
  padding: 5.5px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav {
  width: 80%;
  height: 81px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > .logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #131313;
  cursor: pointer;
}
nav .links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 18px;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 0.6em 1em;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #424242;
  border: 1px solid transparent;
}
nav .links a:hover {
  border: 1px solid #ff900e;
  border-radius: 8px;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
}

/*
    Hero/Top section styles
 */
.hero-section {
  padding: 100px 0 37px 0;
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 5.5rem;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 0 auto;
}

.hero-contents .hero-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.hero-texts h1 {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #131313;
}

.hero-texts p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
  padding: 0 176px;
}

.hero-contents .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-contents .hero-img img {
  width: 100%;
  border-radius: 8px;
}

/*
    Quick Features section styles
 */

.quick-features-section {
  display: flex;
  align-items: center;
  gap: 55px;
  margin: 0 auto;
  padding-bottom: 8.125rem;
}

.quick-features-section .quick-features-grid-cards {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.quick-features-grid-cards img {
  border-radius: 8px;
  width: 100%;
}

.quick-features-section .quick-features-content {
  width: 50%;
}

.quick-features-section .quick-features-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.quick-features-content h2 {
  font-weight: 500;
  font-size: 45px;
}
.quick-features-content h2 .light-text {
  color: #727272;
}

.quick-features-content h2 .dark-text {
  color: #131313;
  font-weight: 700;
}

.quick-features-content h2 .golden-text {
  color: #ff900e;
  font-weight: 700;
}

.quick-features-content p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding: 0 59px 0 0;
}

/*
  Experience section styles
 */

.experience-section {
  display: flex;
  align-items: center;
  gap: 54px;
  margin: 0 auto;
  padding-bottom: 8.125rem;
}

.experience-section .experience-contents {
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.experience-contents .experience-title {
  padding-left: 21px;
  border-left: 6px solid #ff900e;
}

.experience-contents .experience-title h3 {
  font-weight: 700;
  font-size: 30px;
  color: #131313;
}

.experience-contents > p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.experience-contents .experience-features {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.experience-features .experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 25px 39px 25px 25px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.experience h4 {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}
.experience p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.experience-section .experience-img-years {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  position: relative;
}
.experience-img-years img {
  width: 90%;
  height: 100%;
  border-radius: 8px;
}

.experience-img-years .experience-year {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 150px;
  background: #ff900e;
  border-radius: 8px;
  color: white;
  position: absolute;
  right: 65%;
  top: 89%;
}

.experience-year h3 {
  font-weight: 700;
  font-size: 45px;
}
.experience-year p {
  font-weight: 500;
  font-size: 20px;
}

/*
   Some facts section styles
 */

.some-facts-section {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  margin: 0 auto;
  gap: 6.25rem;
  padding-bottom: 11.25rem;
}

.some-facts-section .some-fact-content h3 {
  font-weight: 700;
  font-size: 30px;
  color: #131313;
  margin-bottom: 1.5rem;
}

.some-fact-content p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-right: 42.6rem;
}

.some-facts-section .complete-works {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.complete-works .finished-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 14rem;
  gap: 0.5rem;
  padding: 2.1875rem;
  border: 2.2px solid transparent;
}
.complete-works .finished-work:hover {
  transform: scale(1.08);
  transition: 0.5s ease-in-out;
  border: 2.2px solid;
  border-image: linear-gradient(45deg, rgb(255, 40, 2), #fc9e33) 1;
}

.finished-work h4 {
  font-weight: 600;
  font-size: 2rem;
  color: #424242;
}

.finished-work p {
  font-weight: 600;
  font-size: 17px;
  color: #727272;
}

/*.................................................................................*/
/*
    Rsponsive all styles star here,
 */
/*.................................................................................*/

/*
    Responsive for mobile all device
 */

@media screen and (max-width: 991px) {
  /*
    All common features Responsive styles here
*/
  .golden-btn {
    width: 120px;
    height: 40px;
    font-size: 15px;
  }

  /*
    Header and Navabar responsive Styles
 */

  nav {
    width: 100%;
    height: 100px;
    padding: 0 17px;
  }
  nav .logo {
    width: auto;
    justify-content: center;
    font-size: 19px;
  }
  nav .links {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 17px;
    color: white;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav .icon-burger > i {
    font-size: 19px;
    color: black;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  /* 
    Hero section responsive styles
 */

  .hero-section {
    padding: 0px 0 37px 0;
  }

  .hero-contents {
    width: 100%;
    flex-direction: column-reverse;
  }

  .hero-contents .hero-texts {
    gap: 15px;
    padding: 0 17px;
  }

  .hero-texts h1 {
    font-size: 30px;
  }

  .hero-texts p {
    font-size: 15px;
    padding: 0 6px;
  }

  .hero-contents .hero-img {
    padding: 0 5px;
  }

  .hero-contents .hero-img img {
    width: 100%;
  }

  /*
    Quick Fetures section responsive styles 
   */

  .quick-features-section {
    width: 100%;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 4.125rem;
  }

  .quick-features-section .quick-features-grid-cards {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    place-items: center;
    padding: 0 5px;
  }
  .quick-features-grid-cards img {
    width: 80%;
  }
  .quick-features-section .quick-features-content {
    width: 100%;
    align-items: center;
    gap: 15px;
  }

  .quick-features-content h2 {
    font-size: 30.4px;
    text-align: center;
  }

  .quick-features-content p {
    font-size: 15px;
    text-align: center;
    padding: 0 6px;
  }

  /*
    Experience section rsponsive styles 
   */

  .experience-section {
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
    gap: 54px;
  }

  .experience-section .experience-contents {
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 19px;
  }

  .experience-contents .experience-title {
    padding-left: 0px;
    border-left: 0;
  }

  .experience-contents .experience-title h3 {
    font-size: 23px;
    text-align: center;
  }

  .experience-contents > p {
    font-size: 16px;
    text-align: center;
    padding: 0 6px;
  }

  .experience-contents .experience-features {
    gap: 15px;
  }

  .experience-features .experience {
    align-items: center;
    gap: 5px;
    padding: 20px;
  }

  .experience h4 {
    font-size: 17px;
    text-align: center;
  }
  .experience p {
    font-size: 15px;
    text-align: center;
  }

  .experience-section .experience-img-years {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: unset;
  }
  .experience-img-years img {
    width: 100%;
    padding: 0 10px;
  }

  .experience-img-years .experience-year {
    width: 165px;
    height: 85px;
    position: unset;
  }

  .experience-year h3 {
    font-size: 25px;
  }
  .experience-year p {
    font-size: 16px;
  }
}
