/*
    Google work sans font associated with CSS
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Work+Sans&display=swap");

/*
    Common all styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
  scroll-behavior: smooth;
}

.container {
  max-width: 1250px;
  width: 100%;
}

/* 
    HEADER SECTION AND NAVIGATION
 */

header {
  /* background: rgba(255, 144, 14, 0.1); */
  background: white;
  /* box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.06); */
  padding: 5.5px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav {
  width: 80%;
  height: 81px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > .logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #131313;
  cursor: pointer;
}
nav .links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 18px;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 0.6em 1em;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #424242;
  border: 1px solid transparent;
}
nav .links a:hover {
  border: 1px solid #ff900e;
  border-radius: 8px;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
}

/*
    Hero/Top section styles
 */
.hero-section {
  height: 100%;
  padding: 100px 0 37px 0;
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 5.5rem;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 0 auto;
}

.hero-contents .hero-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.hero-texts h1 {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #131313;
}

.hero-texts p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
  padding: 0 176px;
}

.hero-texts button {
  width: 135px;
  height: 45px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  color: #ffffff;
}

.hero-contents .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-contents .hero-img img {
  width: 100%;
  border-radius: 8px;
}

/*.................................................................................*/
/*
    Rsponsive all styles star here,
 */
/*.................................................................................*/

/*
    Responsive for mobile all device
 */

@media screen and (max-width: 991px) {
  nav {
    width: 100%;
    height: 100px;
    padding: 0 17px;
  }
  nav .logo {
    width: auto;
    justify-content: center;
    font-size: 19px;
  }
  nav .links {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 17px;
    color: white;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav .icon-burger > i {
    font-size: 19px;
    color: black;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  /* 
    Hero section responsive styles
 */

  .hero-section {
    /* height: 100%; */
    padding: 60px 0 37px 0;
    margin-bottom: 5.5rem;
  }

  /* .hero-contents {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  } */

  .hero-contents .hero-texts {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 15px;
    padding: 0 17px;
  }

  .hero-texts h1 {
    font-size: 35px;
  }

  .hero-texts p {
    font-weight: 400;
    font-size: 15px;
    padding: 0 10px;
  }

  .hero-texts button {
    width: 120px;
    height: 40px;
    font-size: 15px;
  }

  .hero-contents .hero-img {
    width: 100%;
  }

  .hero-contents .hero-img img {
    width: 100%;
    height: 100%
  }
}
